body {
    background-color: rgb(41, 41, 41);
}
h1 {
    color:white;
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    display:flex;
    justify-content: center;
    padding-top: 10%;
}
/** Navegacion **/

.navegacion {
    background-color: rgb(41, 41, 41);
    padding: .5rem 0;
    display: flex;
    justify-content: right;
    gap: 1rem;
    font-size: 0.9rem;
}
.navegacion__seccion {
    padding-top: 0.5rem;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.navegacion__icon {
    color:white;
    width: 2%;
}

/**  Main Content  **/
.bar{
  margin:0 auto;
  width:575px;
  border:3px solid #dcdcdc;
  border-radius:40px;
  
}
.bar:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
  
}
.searchbar{
  height:45px;
  border: none;
  border-radius: 50px;
  border-color: white;
  width:500px;
  font-size:16px;
  outline: none;
  
}
.searchicon{
  height:20px;
  position:relative;
  top:5px;
  left:18px;
}
.buttons{
  margin-top:30px;
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.button{
  background-color: #f5f5f5;
  border:none;
  color:#707070;
  font-size:15px;
  padding: 10px 20px;
  margin:5px;
  border-radius:4px;
  outline:none;
}
.button:hover{
  border: 1px solid #c8c8c8;
  padding: 9px 19px;
  color:#808080;
}
.button:focus{
  border:1px solid #4885ed;
  padding: 9px 19px;
}

footer {
  background-color: rgb(41, 41, 41);
  padding: 20px;
  font-size: 14px;
  margin-top: 17rem;
}

.footernav {
  margin: 0;
  padding: 0;
  display: inline-flex;
  margin: 0 10px;
  color: #555;
  text-decoration: none;
  gap: 75rem;
}
.navsection {
  color: white;
  text-decoration: none;
}
.navsectionright {
  color:white;
  text-decoration: none;
}

.leftnav {
  display: flex;
  justify-content: left;
  gap: 2rem;
}

.rightnav {
  display: flex;
  justify-content: right;
  gap: 2rem;
}


